<div class="flex flex-col space-y-6">
    <div class="flex justify-between items-baseline @Styles.SmallHeader">
        <div class="text-3xl font-medium">
            @Round
        </div>

        <div>
            @Round.Title
        </div>
    </div>

    <div class="flex flex-col space-y-3">

        <p class="@Styles.Paragraph text-@Colors.Text ">
            @Round.Description
        </p>

        <ul class="list-disc list-inside text-@Colors.TextSemiMuted text-sm leading-relaxed">
            <li>@Round.AnswerLimitationInstructions()</li>
            <li>@Round.NextConceptInstructions()</li>
        </ul>
    </div>

    <div class="flex justify-between space-x-4">
        <CustomButton OnClick="OnRoundSummaryClosed" AdditionalStyles="w-full" Height="CustomButton.ButtonHeight.Standard">
            START
        </CustomButton>
    </div>
</div>

@code {
    [Parameter]
    public Round Round { get; set; }

    [Parameter]
    public EventCallback OnRoundSummaryClosed { get; set; }
}
